@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap");

* {
  font-family: "Montserrat", sans-serif;
  font-weight: lighter;
}

html {
  background-color: #222222;
  background-image: url(/assets/images/city.svg);
  background-repeat: no-repeat;
  background-size: 192%;
}

body {
  zoom: 130%;
}

h1 {
  color: white;
  text-align: center;
}

#logo {
  width: 90px;
  position: relative;
  left: 50%;
  transform: translate(-50%);
}

#main-frame {
  display: flex;
  justify-content: center;
}

#side-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 20px 20px 0 0;
}

#info-frame {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
}

#clicker {
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
  border-radius: 10px;
  /* height: 150px;
    width: 100px; */
  width: 200px;
  height: 200px;
  margin-top: 10px;
  display: flex;
  justify-content: center;
  cursor: pointer;
  user-select: none;
  background: rgb(55, 55, 55);
}

#clicker img {
  width: 100px;
  transition: transform 0.2s;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

#clicker:hover > img {
  transform: scale(1.1);
}

#restart-btn {
  display: flex;

  align-items: center;
  justify-content: center;
  height: 50px;
  width: 50px;
  border: none;
  border-radius: 10px;
  background: rgb(55, 55, 55);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

#restart-btn img {
  transition: transform 0.1s;
}

#restart-btn img:hover {
  transform: scale(1.1);
}

#restart-btn img {
  zoom: 150%;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.side-btn {
  display: flex;

  align-items: center;
  justify-content: center;
  padding: 5px;
  border: none;
  border-radius: 10px;
  background: rgb(55, 55, 55);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.side-btn img {
  transition: transform 0.1s;
  width: 40px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

.side-btn img:hover {
  transform: scale(1.1);
}

#bottom-buttons {
  position: absolute;
  top: 365px;
  margin-right: 155px;
}

.bottom-btn {
  transition: transform 0.1s;
  padding: 5px;
  margin-left: 10px;
  border: none;
  border-radius: 10px;
  background: rgb(55, 55, 55);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

.bottom-btn img, .bottom-btn embed {
  width: 40px;
  -webkit-user-drag: none;
  -khtml-user-drag: none;
  -moz-user-drag: none;
  -o-user-drag: none;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}

#lock1,
#lock2 {
  position: absolute;
  width: 30px;
  margin-left: 5px;
}

#buy-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 10px;
  background: rgb(55, 55, 55);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
  cursor: pointer;
}

#buy-btn img,
#buy-btn span {
  transition: transform 0.1s;
}

#buy-btn:hover > img,
#buy-btn:hover > span {
  transform: scale(1.05);
}

/* #buy-btn img {
  zoom: 100%;
} */

#btns {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#sys-btns {
  display: flex;
  margin-top: 20px;
}

#sys-btns button:nth-child(1n) {
  margin-left: 10px;
}

#score-frame {
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgb(55, 55, 55);
  margin-top: 10px;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
}

#score-frame h2 {
  color: white;
}

h2 {
  font-weight: lighter;
  color: rgb(51, 51, 51);
}

.purchased {
  height: 20px;
  width: 90px;
  margin-left: 5px;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(252, 107, 40);
  color: white;
}

#logo {
  zoom: 200%;
}

.welcome-screen {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgb(55, 55, 55);
  border-radius: 10px;
  height: 100px;
  width: 490px;
}

.welcome-screen button {
  width: 180px;
  height: 40px;
  color: white;
  border: none;
  border-radius: 10px;
  background: rgb(85, 85, 85);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  transition: transform 0.1s;
}

.welcome-screen button:hover {
  transform: scale(1.1);
}

#overlay {
  position: fixed; /* Sit on top of the page content */
  width: 100%; /* Full width (cover the whole page) */
  height: 100%; /* Full height (cover the whole page) */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Black background with opacity */
  z-index: 1; /* Specify a stack order in case you're using a different order for other elements */
  backdrop-filter: blur(3px);
}

.restart-screen {
  position: absolute;
  display: none;
  margin-left: auto;
  margin-right: auto;
  z-index: 2;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgb(55, 55, 55);
  border-radius: 10px;
  height: 100px;
  width: 490px;
}

.restart-screen button {
  width: 180px;
  height: 40px;
  margin: 0 20px 0 20px;
  color: white;
  border: none;
  border-radius: 10px;
  background: rgb(85, 85, 85);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  transition: transform 0.1s;
}

.restart-screen button:hover {
  transform: scale(1.1);
}

.settings-screen {
  list-style: none;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgb(55, 55, 55);
  border-radius: 10px;
  height: 300px;
  width: 490px;
}

.settings-screen button {
  width: 180px;
  height: 40px;
  margin-top: 15px;
  color: white;
  border: none;
  border-radius: 10px;
  background: rgb(85, 85, 85);
  box-shadow: 0px 0px 25px 5px rgba(0, 0, 0, 0.18);
  cursor: pointer;
  transition: transform 0.1s;
}

.settings-screen button:hover {
  transform: scale(1.1);
}

.credits-screen {
  list-style: none;
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  z-index: 1;
  left: 0;
  right: 0;
  text-align: center;
  color: white;
  background: rgb(55, 55, 55);
  border-radius: 10px;
  height: 300px;
  width: 490px;
}

#settings-text {
  zoom: 60%;
}

.credits-screen button:hover {
  transform: scale(1.1);
}
